*{
    padding: 0;
    margin: 0;
}

header{
    margin-bottom: 75px;
}

.linkStyle{
    align-items: center;
    justify-content: right;
}
.linkStyle ul li a{
    color: #9CF553;
    margin-right: 20px;
}
.linkStyle ul li a:hover{
    color: #377504;
}
.navStyle{
    background-color: #fff
}
.neophormContainer{
    margin-top: 5em;
    height: 10em;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  -5px 5px 21px #cccccc, 5px -5px 21px #ffffff;
}


